@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Architects+Daughter&family=Ubuntu:ital,wght@0,400;1,300&display=swap');
.App {
  height: 100vh;
}
nav{
  height: 5rem;
  background-color: #023047;
}
label{
  padding: 0 54px;
  line-height: 5rem;
  font-size: 35px;
  color: #66BBCC;
  font-family: 'Arbutus Slab', serif;
}
#symbol{
  color: #F5F5F5;
}
#lname{
  color: #FFB703;
}
button{
  margin-top: 1.2rem;
  margin-right:54px;
  float: right;
  font-family: 'Sora', sans-serif;
  padding: 8px 13px;
    background-color:#FFB703 ;
    color: #023047;
    font-size: 17px;
    border: 2px solid #FFB703;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
  transition: 0.6s;
  background-color:#66BBCC;
  border-color: #66BBCC;
}
.details{
  font-family: 'Sora', sans-serif;
  height: 78vh;
  background-color: #F5F5F5;
}
.details{
  display: flex;
}
.loader{
  align-items: center;
  border-radius: 50%;
  border-top: 10px solid #023047;
  border-right: 10px solid #F5F5F5;
  border-bottom: 10px solid #023047;
  border-left: 10px solid #F5F5F5;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 15s linear infinite;
 position: absolute;
 top: 45%;
 right: 50%;
 left: 48%;
 bottom: 50%;
 transform: translate(-50%,-50%);
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(3600deg); }
}
